#homepage{
 background-image:url("https://github.com/KerimCan05/ataturk-artadorheme/blob/main/image.png?raw=true");
 background-size:cover;
 background-attachment:fixed;
}


#offcanvasRight{
 background-color:transparent;
 backdrop-filter:blur(10px);
}

#features .flex-wrap{
 padding-bottom:20px;
 padding-top:20px;
 color:#ffffff;
 background-color:#020202;
}

.grid div div span{
 color:#ffffff;
}

.grid p span{
 color:#ffffff;
}

#features .max-sm\:px-10{
 backdrop-filter:blur(4px);
}

#offcanvasRightLabel{
 color:#ffffff;
}

.offcanvas-body a span{
 color:#ffffff;
}
